body { 
    font-family: 'Inter'; 
    background-color: #f4f4f4; 
    display: flex; 
    justify-content: center; 
    align-items: center; /* Измените на center, чтобы центрировать форму по вертикали */
    height: 100vh; 
    margin: 0; 
} 

.registration-form { 
    background-color: #E3E1EA; 
    padding: 30px; /* Установите отступы для удобства */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 1080px; /* Убедитесь, что у вас указано 'px' */
    height: 1920px; /* Убедитесь, что у вас указано 'px' */
    display: flex; /* Используйте flexbox для центрирования содержимого */
    flex-direction: column; /* Горизонтальное направление */
    justify-content: center; /* Центрация содержимого по вертикали */
    align-items: center; /* Центрация содержимого по горизонтали */
}         

.form-group { 
    margin-bottom: 10px; 
    width: 100%; /* Убедитесь, что элементы формы занимают всю ширину */
} 

.form-group label { 
    display: block; 
    margin-bottom: 5px; 
} 

.form-group input { 
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
    border: 1px solid #7D7A85; 
    border-radius: 3px;
    margin-bottom: 10px; 
} 

.form-group input:focus { 
    border-color: #007bff; 
} 

.error-message { 
    color: red; 
    font-size: 0.875em; 
    margin-top: 5px; 
} 

button { 
    width: 100%; 
    padding: 10px; 
    background-color: #4c00ce; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
} 

button:hover { 
    background-color: #3b00a0; 
} 

h2 {
    color: #F9F6FF;
    font-weight: bold;
    font-size: 36px; /* Убедитесь, что указан размер в 'px' */
    text-align: center;
}

